@import '../../styles/variables';
@import '../../styles/carousel';

.home-swiper-container {
  overflow: hidden;

  .swiper-pagination-progressbar-fill {
    background-color: $secondary-color;
  }

  .swiper-wrapper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      align-items: center;
      background-size: cover, cover !important;
      display: flex;
      font-size: 18px;
      justify-content: center;
      height: 300px;
      width: 100%;
      position: relative;
      text-align: center;

      // swiper-slide__image
      &__image {
        height: auto;
        width: 100%;
      }

      // swiper-slide__title
      &__title {
        color: $primary-font-color;
        margin: 5px 0;
      }

      // swiper-slide__item-duration, // swiper-slide__category
      &__item-duration, &__category {
        color: $secondary-font-color;
        margin: 0;
      }

      div {
        bottom: 2rem;
        left: 2rem;
        position: absolute;
        text-align: left;
        text-decoration: none;
      }

      a:active, a:hover, a:visited {
        color: initial;
        text-decoration: none;
      }
    }
  }

  .home-swiper-pagination {
    z-index: 1;
  }
}

@media only screen and (min-width: 600px) {
  .home-swiper-container {

    .swiper-wrapper {

      .swiper-slide {
        height: 500px;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .home-swiper-container {
    background-color: $primary-font-color;;
    padding-top: 4.9rem;

    .swiper-pagination-progressbar-fill {
      background-color: $secondary-color;
      padding-top: 4.7rem;
    }
  }
}

@media only screen and (min-width: 1250px) {
  .home-swiper-container {

    .swiper-wrapper {
      div {
        padding: 3rem;
      }

      .swiper-slide {
        height: 92vh;
      }
    }
  }
}
